<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	{{ $options := (dict "targetPath" "css/main.css" "enableSourceMap" true ) }}
	{{ $style := resources.Get "scss/main.scss" | resources.ToCSS $options | resources.PostCSS }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">

	{{ $styleCss := resources.Get "testcss/style.css" | resources.PostCSS }}
	<link rel="stylesheet" href="{{ $styleCss.Permalink }}">

    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
</head>
